.rightSection {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cartBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: none;
  border: none;
  color: #ae1332;
  padding: 8px;
}

.cartBtn:hover {
  color: #d52b47;
}

.cartWrapper {
  position: relative;
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
