.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link {
  display: inline-flex;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ae1332;
  border-radius: 10px;
  transition: color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.link:hover {
  color: #fff;
  background-color: #b71e3f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.active {
  color: #fff;
  background-color: #ae1332;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .link {
    font-size: 18px;
    padding: 12px 18px;
  }
}

@media (min-width: 1024px) {
  .link {
    font-size: 20px;
    padding: 14px 22px;
  }
}

@media (min-width: 1440px) {
  .link {
    font-size: 22px;
    padding: 16px 25px;
  }
}
